.DS_Store
node_modules/
platforms/
plugins/
www
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
config/*.env.js
src/assets/img/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

package-lock.json
.vscode
