<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="3" id="io.cordova.appsell_PotatoCorner" ios-CFBundleVersion="1" version="0.6.10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pick Up Sticks Test App</name>
    <description>Pick Up Sticks test app</description>
    <author email="sorianorobertc@gmail.com" href="https://robertsoriano.com">
      AppSell Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="28" />
        <allow-intent href="market:*" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="orientation" value="portrait" />
        <preference name="KeyboardResize" value="true" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <!-- <preference name="SplashScreenDelay" value="30000" /> -->
        <preference name="AutoHideSplashScreen" value="true" />
       <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icon/ios/icon-App-60x60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <!-- <icon src="res/icon/ios/icon-App-60x60@1x.png" width="60" height="60" /> -->
        <icon src="res/icon/ios/icon-App-60x60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-App-76x76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-App-40x40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <!-- <icon src="res/icon/ios/icon.png" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114" /> -->
        <!-- iPad -->
        <!-- <icon src="res/icon/ios/icon-App-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-App-72@2x.png" width="144" height="144" /> -->
        <!-- iPad Pro -->
        <!-- <icon src="res/icon/ios/icon-App-167.png" width="167" height="167" /> -->
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-App-29x29@1x.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-App-29x29@2x.png" width="58" height="58" />
        <icon src="res/icon/ios/icon-App-29x29@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <!-- <icon src="res/icon/ios/icon-App-50.png" width="50" height="50" />
        <icon src="res/icon/ios/icon-App-50@2x.png" width="100" height="100" /> -->
        <!-- iPad Pro -->
        <icon src="res/icon/ios/icon-App-83.5x83.5@2x.png" width="167" height="167" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <universal-links>
        <host name="appsell.com">
            <path event="openProductPage" url="/product" />
        </host>
    </universal-links>
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-camera" spec="^4.0.2" />
    <plugin name="cordova-plugin-datepicker" spec="^0.9.3" />
    <plugin name="cordova-plugin-vibration" spec="^3.0.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.4.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
    <plugin name="cordova-universal-links-plugin" spec="https://github.com/walteram/cordova-universal-links-plugin.git" />
    <plugin name="cordova-clipboard" spec="^1.2.1" />
    <plugin name="cordova-plugin-keyboard" spec="https://github.com/cjpearson/cordova-plugin-keyboard" />
    <plugin name="cordova-plugin-background-mode" spec="0.7.2" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="2.1.3" />
    <plugin name="cordova-android-support-gradle-release" spec="^1.4.7" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.1.4" />
</widget>
